<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Tic Tac Toe</title>
</head>

<body>
<h1>Tic-Tac-Toe</h1>
<h2 id="playerInput"></h2>
<table>
    <tr>
        <th class="box" id="0"></th>
        <th class="box" id="1"></th>
        <th class="box" id="2"></th>
        <th class="box" id="3"></th>
        <th class="box" id="4"></th>
    </tr>
    <tr>
        <td class="box" id="5"></td>
        <td class="box" id="6"></td>
        <td class="box" id="7"></td>
        <td class="box" id="8"></td>
        <td class="box" id="9"></td>
    </tr>
    <tr>
        <td class="box" id="10"></td>
        <td class="box" id="11"></td>
        <td class="box" id="12"></td>
        <td class="box" id="13"></td>
        <td class="box" id="14"></td>
    </tr>
    <tr>
        <td class="box" id="15"></td>
        <td class="box" id="16"></td>
        <td class="box" id="17"></td>
        <td class="box" id="18"></td>
        <td class="box" id="19"></td>
    </tr>
    <tr>
        <td class="box" id="20"></td>
        <td class="box" id="21"></td>
        <td class="box" id="22"></td>
        <td class="box" id="23"></td>
        <td class="box" id="24"></td>
    </tr>
</table>
<button id="reset-button">Restart Game</button>

<script src="/js/script.js"></script>
</body>
</html>